<h1>Preparación y limpieza de de datos </h1>
<p>Proyecto aplicado - Rescindidos Funeraria La Aurora</´p>
<p>Carlos Felipe Cortés Cataño - Carlos Luis Mora Cañas </p>

Se transformará la información extraida de distintas fuentes para asegurar que exista coherencia, accesibilidad y uniformidad

### Librerías

In [3]:
#Manipulación datos
import pandas as pd

### 1) Programas activos

El presente conjunto de datos informa el estado actual de los planes activos y los datos categoricos que corresponden a cada plan

In [55]:
activos = pd.read_excel("../data/programas-activos.xlsx")
activos.head()

,PROGRAMA,DOCUMENTO TOMADOR,PLAN EXEQUIAL,TIPO PLAN,GENERO TOMADOR,EDAD TOMADOR,SUCURSAL VENTA,SUCURSAL ADM,LOCALIDAD PROGRAMA,FECHA SOLICITUD Año,...,FECHA_RESCINDIDO - Mes,FECHA_RESCINDIDO - Día,FECHA DE RESCINDIDO,VALOR CUOTA,BARRIO PROGRAMA,MOTIVO,TIPO MOTIVO,DÍA DE PAGO MENSUAL,CANTIDAD INSCRITOS,CANTIDAD MASCOTAS
0,98333,35329195,aurora Plus Mas,FAMILIAR,Femenino,63.0,Manizales,Manizales,Soacha,2021.0,...,junio,28.0,28 junio 2021,44500.0,Barrio No Identificado,Venta No Efectiva,Irreal,3.0,16.0,0.0
1,154303,1002652054,Aurora Plus 2020,FAMILIAR,Femenino,37.0,Manizales,Manizales,Manizales,2022.0,...,NaN,NaN,,40600.0,Fátima,Activo para verificación,Voluntario,14.0,15.0,0.0
2,525274,16835110,Remanso Clasico Descuento 30%,EMPRESARIAL,Masculino,51.0,Ubate,Ubate,Guacheta,2018.0,...,mayo,26.0,26 mayo 2018,12750.0,NaN,Rescindido,Voluntario,8.0,15.0,0.0
3,58829,23367010,Aurora Plus Mas 2020,FAMILIAR,Femenino,57.0,Manizales,Promotora La Aurora S.A.S. Sin Oficina,Fusagasugá,2020.0,...,NaN,NaN,,47500.0,Barrio No Identificado,Activo,Voluntario,13.0,15.0,0.0
4,117086,1053838285,Aurora empresarial,EMPRESARIAL,Femenino,28.0,Manizales,Manizales,Manizales,2018.0,...,NaN,NaN,,26800.0,Barrio No Identificado,Activo,Voluntario,12.0,14.0,1.0

In [59]:
activos.iloc[1]

PROGRAMA                                    154303
DOCUMENTO TOMADOR                       1002652054
PLAN EXEQUIAL                     Aurora Plus 2020
TIPO PLAN                                 FAMILIAR
GENERO TOMADOR                            Femenino
EDAD TOMADOR                                  37.0
SUCURSAL VENTA                           Manizales
SUCURSAL ADM                             Manizales
LOCALIDAD PROGRAMA                       Manizales
FECHA SOLICITUD Año                         2022.0
FECHA SOLICITUD  Mes                         junio
FECHA SOLICITUD  Día                          13.0
FECHA DE VENTA                       13 junio 2022
ESTADO                                      Activo
FECHA RESCINDIDO Año                           NaN
FECHA_RESCINDIDO - Mes                         NaN
FECHA_RESCINDIDO - Día                         NaN
FECHA DE RESCINDIDO
VALOR CUOTA                                40600.0
BARRIO PROGRAMA                             Fátima
MOTIVO                    Activo para verificación
TIPO MOTIVO                             Voluntario
DÍA DE PAGO MENSUAL                           14.0
CANTIDAD INSCRITOS                            15.0
CANTIDAD MASCOTAS                              0.0
Name: 1, dtype: object

La fecha de solicitud y fecha de rescindido crea atributos redudantes donde extraen el día, mes y año, no tomaremos en cuenta estos atributos inicialmente.

In [238]:
new_activos = activos.drop(
    ["FECHA SOLICITUD Año", "FECHA SOLICITUD  Mes", "FECHA SOLICITUD  Día", "FECHA RESCINDIDO Año", "FECHA_RESCINDIDO - Mes", "FECHA_RESCINDIDO - Día"], axis=1)

La fecha de rescindido y la fecha de venta son un solo atributo que representan la fecha del estado actual donde solo en los casos en que un cliente tenga fecha de rescindido se reemplaza dicha fecha como fecha del estado.

In [239]:
new_activos["fecha_estado"] = new_activos["FECHA DE VENTA"]
new_activos.iloc[3]["FECHA DE RESCINDIDO"]

'  '

In [240]:
new_activos["fecha_estado"] = new_activos["fecha_estado"].where(
    new_activos["FECHA DE RESCINDIDO"] == "  ", new_activos["FECHA DE RESCINDIDO"])
new_activos.drop(["FECHA DE VENTA", "FECHA DE RESCINDIDO"], axis=1, inplace=True)

In [241]:
new_activos.head(2)

,PROGRAMA,DOCUMENTO TOMADOR,PLAN EXEQUIAL,TIPO PLAN,GENERO TOMADOR,EDAD TOMADOR,SUCURSAL VENTA,SUCURSAL ADM,LOCALIDAD PROGRAMA,ESTADO,VALOR CUOTA,BARRIO PROGRAMA,MOTIVO,TIPO MOTIVO,DÍA DE PAGO MENSUAL,CANTIDAD INSCRITOS,CANTIDAD MASCOTAS,fecha_estado
0,98333,35329195,aurora Plus Mas,FAMILIAR,Femenino,63.0,Manizales,Manizales,Soacha,Inactivo,44500.0,Barrio No Identificado,Venta No Efectiva,Irreal,3.0,16.0,0.0,28 junio 2021
1,154303,1002652054,Aurora Plus 2020,FAMILIAR,Femenino,37.0,Manizales,Manizales,Manizales,Activo,40600.0,Fátima,Activo para verificación,Voluntario,14.0,15.0,0.0,13 junio 2022

No se evidencia registros vacios para la mayoría de atributos, sin embargo, si existen algunos para LOCALIDAD PROGRAMA, VALOR CUOTA y BARRIO PROGRAMA

In [242]:
new_activos.describe(include="all")

,PROGRAMA,DOCUMENTO TOMADOR,PLAN EXEQUIAL,TIPO PLAN,GENERO TOMADOR,EDAD TOMADOR,SUCURSAL VENTA,SUCURSAL ADM,LOCALIDAD PROGRAMA,ESTADO,VALOR CUOTA,BARRIO PROGRAMA,MOTIVO,TIPO MOTIVO,DÍA DE PAGO MENSUAL,CANTIDAD INSCRITOS,CANTIDAD MASCOTAS,fecha_estado
count,41161,41159,41159,41159,41159,4.116000e+04,41159,41159,39314,41159,4.086300e+04,30907,41159,41159,41159.000000,41160.000000,41160.000000,41160
unique,41148,35282,143,8,3,NaN,23,63,697,2,NaN,1313,68,3,NaN,NaN,NaN,1759
top,25120,30310117,Aurora Plus 2020,EMPRESARIAL,Femenino,NaN,Manizales,Manizales,Manizales,Inactivo,NaN,Barrio No Identificado,Activo,Voluntario,NaN,NaN,NaN,31 julio 2020
freq,2,18,4869,17711,22926,NaN,26646,26297,15708,23504,NaN,13226,15833,28429,NaN,NaN,NaN,3722
mean,NaN,NaN,NaN,NaN,NaN,9.316254e+01,NaN,NaN,NaN,NaN,5.335812e+04,NaN,NaN,NaN,10.886513,10.033528,0.351701,NaN
std,NaN,NaN,NaN,NaN,NaN,9.450156e+03,NaN,NaN,NaN,NaN,5.393902e+06,NaN,NaN,NaN,9.816642,1017.776760,35.678830,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,-6.250000e+04,NaN,NaN,NaN,1.000000,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,3.500000e+01,NaN,NaN,NaN,NaN,8.500000e+03,NaN,NaN,NaN,1.000000,3.000000,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,4.600000e+01,NaN,NaN,NaN,NaN,1.410000e+04,NaN,NaN,NaN,10.000000,6.000000,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,5.700000e+01,NaN,NaN,NaN,NaN,1.860000e+04,NaN,NaN,NaN,19.000000,7.000000,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,1.917285e+06,NaN,NaN,NaN,NaN,1.090187e+09,NaN,NaN,NaN,31.000000,206490.000000,7238.000000,NaN

Para localidad programa en caso de nulos usaremos la sucursal de administración

In [243]:
new_activos["LOCALIDAD PROGRAMA"] = new_activos["LOCALIDAD PROGRAMA"].where(
    ~new_activos["LOCALIDAD PROGRAMA"].isna(), new_activos["SUCURSAL ADM"])

Para el valor de la cuota tomaremos el promedio del plan y lo aplicaremos al valor nulo

In [244]:
means = new_activos[["VALOR CUOTA", "PLAN EXEQUIAL"]].groupby("PLAN EXEQUIAL").mean()
means

                                                      VALOR CUOTA
PLAN EXEQUIAL
AURORA COOPSERCOM                                     7900.000000
Abonable                                             10000.000000
Asistencia Exequial Mascota (Facturación Rural ...    7000.000000
Asistencia Exequial Mascota (Facturación Urbana...   41214.800000
Asistencia Exequial Mascota 2020                     19163.364627
...                                                           ...
aurora Plus Mas                                      23425.891020
aurora de Oro Coopsocial                            100656.896552
empresarial Caferedes                                 9550.000000
plan oro                                             11267.149390
remanso Clasico FOPEP                                12200.000000

[143 rows x 1 columns]

In [245]:
new_activos[new_activos["VALOR CUOTA"].isna()] = new_activos[new_activos["VALOR CUOTA"].isna()].drop("VALOR CUOTA", axis=1).merge(means, on="PLAN EXEQUIAL")

Para BARRIO PROGRAMA, se tiene un valor llamado "Barrio No Identificado" el cual puede reemplazar los valores nulos

In [246]:
new_activos["BARRIO PROGRAMA"] = new_activos["BARRIO PROGRAMA"].fillna(
    "Barrio No Identificado")

In [247]:
new_activos = new_activos.rename(columns={"BARRIO PROGRAMA": "barrio_programa", "VALOR CUOTA": "cuota_programa", "LOCALIDAD PROGRAMA": "localidad_programa",
                                          "PLAN EXEQUIAL": "nombre_plan", "TIPO PLAN": "tipo_plan", "GENERO TOMADOR": "genero_cliente", "EDAD TOMADOR": "genero_cliente"})
new_activos.head(2)

,PROGRAMA,DOCUMENTO TOMADOR,nombre_plan,tipo_plan,genero_cliente,genero_cliente,SUCURSAL VENTA,SUCURSAL ADM,localidad_programa,ESTADO,cuota_programa,barrio_programa,MOTIVO,TIPO MOTIVO,DÍA DE PAGO MENSUAL,CANTIDAD INSCRITOS,CANTIDAD MASCOTAS,fecha_estado
0,98333,35329195,aurora Plus Mas,FAMILIAR,Femenino,63.0,Manizales,Manizales,Soacha,Inactivo,44500.0,Barrio No Identificado,Venta No Efectiva,Irreal,3.0,16.0,0.0,28 junio 2021
1,154303,1002652054,Aurora Plus 2020,FAMILIAR,Femenino,37.0,Manizales,Manizales,Manizales,Activo,40600.0,Fátima,Activo para verificación,Voluntario,14.0,15.0,0.0,13 junio 2022

Un mismo cliente puede tener varios programas, como es el caso de 5877 registros que se evidencian duplicados. Por tal razón, la llave primaría debería ser el id del programa.

In [248]:
len(new_activos[new_activos["DOCUMENTO TOMADOR"].duplicated()])

6131

In [249]:
new_activos = new_activos.rename(
    columns={"PROGRAMA": "id_programa", "DOCUMENTO TOMADOR": "id_cliente"})

Eliminamos programas duplicados, estos solo estarán duplicados cuando incluyamos el historico

In [250]:
new_activos.drop_duplicates(keep="first", subset="id_programa", inplace=True)

No se evidencia muchas diferencias entre sucursal venta y sucursal adm, adicionalmente hay más valores unicos en sucursal administrativa, por tal razón, se elimina sucursal venta. Hay registros que no tienen programa asociado se eliminan

In [251]:
len(new_activos["SUCURSAL VENTA"].unique())

24

In [252]:
len(new_activos["SUCURSAL ADM"].unique())

64

In [253]:
new_activos[new_activos["SUCURSAL ADM"] !=
            new_activos["SUCURSAL VENTA"]].head(2)

,id_programa,id_cliente,nombre_plan,tipo_plan,genero_cliente,genero_cliente,SUCURSAL VENTA,SUCURSAL ADM,localidad_programa,ESTADO,cuota_programa,barrio_programa,MOTIVO,TIPO MOTIVO,DÍA DE PAGO MENSUAL,CANTIDAD INSCRITOS,CANTIDAD MASCOTAS,fecha_estado
3,58829,23367010,Aurora Plus Mas 2020,FAMILIAR,Femenino,57.0,Manizales,Promotora La Aurora S.A.S. Sin Oficina,Fusagasugá,Activo,47500.0,Barrio No Identificado,Activo,Voluntario,13.0,15.0,0.0,12 septiembre 2020
5,4513,20971609,Aurora Plus 2020,FAMILIAR,Femenino,40.0,Manizales,Promotora La Aurora S.A.S. Sin Oficina,El Rosal,Activo,39100.0,Barrio No Identificado,Activo,Voluntario,4.0,14.0,0.0,2 marzo 2019

In [254]:
new_activos.drop(new_activos[new_activos["ESTADO"].isna()].index, inplace=True)
new_activos.drop("SUCURSAL VENTA", inplace=True, axis=1)

Finalmente renombramos los otros atributos para evitar espacios y/o diferencias entre mayusculas y minusculas

In [255]:
new_activos = new_activos.rename(columns={"SUCURSAL ADM": "sucursal_adm", "ESTADO": "nombre_estado", "MOTIVO": "nombre_motivo", "TIPO MOTIVO": "tipo_motivo",
                            "DÍA DE PAGO MENSUAL": "día_pago_programa", "CANTIDAD INSCRITOS": "q_personas_programa", "CANTIDAD MASCOTAS": "q_mascotas_programa"})
new_activos.head()

,id_programa,id_cliente,nombre_plan,tipo_plan,genero_cliente,genero_cliente,sucursal_adm,localidad_programa,nombre_estado,cuota_programa,barrio_programa,nombre_motivo,tipo_motivo,día_pago_programa,q_personas_programa,q_mascotas_programa,fecha_estado
0,98333,35329195,aurora Plus Mas,FAMILIAR,Femenino,63.0,Manizales,Soacha,Inactivo,44500.0,Barrio No Identificado,Venta No Efectiva,Irreal,3.0,16.0,0.0,28 junio 2021
1,154303,1002652054,Aurora Plus 2020,FAMILIAR,Femenino,37.0,Manizales,Manizales,Activo,40600.0,Fátima,Activo para verificación,Voluntario,14.0,15.0,0.0,13 junio 2022
2,525274,16835110,Remanso Clasico Descuento 30%,EMPRESARIAL,Masculino,51.0,Ubate,Guacheta,Inactivo,12750.0,Barrio No Identificado,Rescindido,Voluntario,8.0,15.0,0.0,26 mayo 2018
3,58829,23367010,Aurora Plus Mas 2020,FAMILIAR,Femenino,57.0,Promotora La Aurora S.A.S. Sin Oficina,Fusagasugá,Activo,47500.0,Barrio No Identificado,Activo,Voluntario,13.0,15.0,0.0,12 septiembre 2020
4,117086,1053838285,Aurora empresarial,EMPRESARIAL,Femenino,28.0,Manizales,Manizales,Activo,26800.0,Barrio No Identificado,Activo,Voluntario,12.0,14.0,1.0,9 marzo 2018

In [256]:
new_activos.to_csv("../data/activos.csv", index=False)

### 2) Datos historicos

El presente conjunto de datos brinda información de los planes que alguna vez fueron activados, su estado actual, así como su periodicidad de pago

In [257]:
historico = pd.read_excel(
    "../data/Reporte-proyecto-prediccion-desistimiento-V3 2.xlsx")
historico.head(3)

,CodigoPrograma,Direccion,LocalidadVenta,EstadoActual,FechaRescindido,Estados,Cuotas,Observaciones,GestionesRecaudo,Unnamed: 9
0,58,Calle 44 - Carrera 8 C # 14,La Dorada,Inactivo - Dificultad para ubicarlo,2020-09-01 05:00:00,NaN,NaN,NaN,NaN,NaN
1,60,Carrera 3 - Calle 44 # 13,La Dorada,Inactivo - Inactivo rescindido,2019-04-17 07:00:04.297000,NaN,NaN,NaN,NaN,NaN
2,61,Manzana 3 - Casa 14 - Etapa 1 Barrio La Esperanza,La Dorada,Activo - Activo,NaN,NaN,"[{""factura"":""AUOF-79760"",""valorTotalFacturaSin...","[{""fechaIngreso"":""25\/04\/2022 "",""empleado"":""A...","[{""Estado"":""Exitosa - Gestión de recaudo exito...",NaN

In [361]:
historico["Estados"].isna().sum()

49757

In [358]:
historico["Cuotas"].isna().sum()

12668

In [359]:
historico["Observaciones"].isna().sum()

20338

In [360]:
historico["GestionesRecaudo"].isna().sum()

51093

Se evidencia que el identificador unico es codigo programa. Renombramos los atributos para que sea consecuentes con el conjunto de datos activos. Estados, Cuotas, Observaciones y Gestiones de recaudo se añadiran posteriormente si se requieren. Adicionalmente notamos un atributo más que es dirección

In [431]:
new_historico = historico.drop(
    ["Cuotas", "Observaciones", "GestionesRecaudo", "Unnamed: 9", "Estados"],axis=1).rename(columns={"CodigoPrograma":"id_programa", "Direccion": "direccion_cliente",
                                                                                   "LocalidadVenta": "localidad_programa", "EstadoActual": "nombre_estado",
                                                                                   "FechaRescindido": "fecha_estado"})
new_historico.drop([3965, 8921, 19881, 21855, 12646,
                   12839, 23979], inplace=True)
new_historico["fecha_estado"] = pd.to_datetime(new_historico["fecha_estado"])

Se observa que las columnas Estados, Cuotas, Observaciones y GestionesRecaudo son una lista de diccionarios, los cuales podrían convertirse en atributos individuales y si son varios elementos dentro de la lista en registros individuales.Lo dividiremos iniciando por los estados

In [432]:
temp = historico.copy()[["CodigoPrograma", "Estados"]].dropna()
temp["Estados"] = temp["Estados"].str.replace(
    "[", "", regex=True).str.replace("]", "", regex=True)
temp = temp.set_index("CodigoPrograma")
temp = temp["Estados"].str.split("},", expand=True).stack(
).reset_index().drop("level_1", axis=1).set_index("CodigoPrograma")
temp = temp[0].str.split(",", expand=True)
temp[1] = temp[2].where(~temp[2].isna(), temp[1])
temp = temp.reset_index().rename(columns={"CodigoPrograma": "id_programa",0: "nombre_estado",
                1: "fecha_estado"}).drop(2, axis=1)
temp["nombre_estado"] = temp["nombre_estado"].str.replace(
    '{"Estado":"', "", regex=True).str.replace('"', "", regex=True)
temp["fecha_estado"] = temp["fecha_estado"].str.replace(
    '"fechainicio":"', "", regex=True).str.replace(
    '"fechacancelacion":"', "", regex=True).str.replace('"}', "", regex=True).str.replace('"', "", regex=True)
temp = temp.merge(new_historico.drop(
    ["nombre_estado", "fecha_estado"], axis=1), on="id_programa", how="left")
temp["fecha_estado"] = pd.to_datetime(temp["fecha_estado"])
temp

,id_programa,nombre_estado,fecha_estado,direccion_cliente,localidad_programa
0,80,Activo - Activo,2021-11-12 13:22:19.237,calle 46 A # 2-21,La Dorada
1,790,Inactivo - Inactivo para reactivación,2022-11-05 06:00:01.347,Carrera 5 - Calle 8 # 44,La Dorada
2,71,Activo - Activo,2022-09-26 22:28:49.260,calle 46 B 9 - 107,Manizales
3,108,Inactivo - Inactivo para reactivación,2022-03-25 14:16:52.833,Carrera 4 - Calle 4 # 81 Sur,La Dorada
4,108,Inactivo - Dificultad para ubicarlo,2022-03-25 14:16:52.833,Carrera 4 - Calle 4 # 81 Sur,La Dorada
...,...,...,...,...,...
68167,171688,Inactivo - Pendiente primer pago,2022-11-17 16:02:26.740,Cra 6ta Este #97-F 19 Sur,Tequendama
68168,171716,Inactivo - Pendiente primer pago,2022-11-17 20:21:49.080,Calle 44 - Carrera 32 B # 27,Manizales
68169,171722,Inactivo - Pendiente primer pago,2022-11-17 21:00:57.877,Vereda Churimalez,Aranzazu
68170,171725,Inactivo - Pendiente primer pago,2022-11-17 22:38:10.890,Carrera 7 L - Calle 55 # 02,Manizales
68171,171725,Activo - Activo para verificación,2022-11-17 22:38:10.967,Carrera 7 L - Calle 55 # 02,Manizales

Concatenamos

In [433]:
new_historico = pd.concat([new_historico, temp], axis=0, ignore_index=True).sort_values(
    "fecha_estado").drop_duplicates(subset=["id_programa", "nombre_estado"], keep="first")

In [458]:
new_historico = new_historico.reset_index().drop("index", axis=1)
new_historico

,id_programa,direccion_cliente,localidad_programa,nombre_estado,fecha_estado
0,53,Calle 9 - Carrera 10 # 153,Manizales,Inactivo - Venta no efectiva,2018-10-06 02:00:03.073
1,67,Calle 5A Casa 322,La Dorada,Inactivo - Venta no efectiva,2018-10-29 02:00:05.520
2,72,Carrera 5 - Calle 48 A # 11,La Dorada,Inactivo - Venta no efectiva,2018-11-02 02:00:01.580
3,74,Carrera 5 B - Calle 46 # 41,Manizales,Inactivo - Venta no efectiva,2018-11-03 02:00:01.447
4,76,Carrera 11 B - Calle 22 # 43,La Dorada,Inactivo - Venta no efectiva,2018-11-11 02:00:02.757
...,...,...,...,...,...
85448,146210,Carrera 5 A - Calle 17 # 08,Manizales,Activo - Activo,NaT
85449,146379,Calle 15 - Carrera 16 # 29,Manizales,Activo - Activo,NaT
85450,146697,Carrera 9 - Calle 5 # 76,La Dorada,Activo - Activo,NaT
85451,147004,Vereda Aguazul finca Aguazul,Dosquebradas,Activo - Activo,NaT
85452,162621,Calle 4 B - Carrera 34 # 17,Manizales,Activo - Activo para verificación,NaT

Nombre estado tiene incluido también el nombre motivo

In [467]:
temp = new_historico[["nombre_estado", "id_programa"]].set_index("id_programa")
temp = temp["nombre_estado"].str.split("-", expand=True).drop(2, axis=1)
temp = temp.reset_index().rename(
    columns={0: "nombre_estado", 1: "nombre_motivo", "index": "id_programa"})
temp

       id_programa nombre_estado              nombre_motivo
0               53     Inactivo           Venta no efectiva
1               67     Inactivo           Venta no efectiva
2               72     Inactivo           Venta no efectiva
3               74     Inactivo           Venta no efectiva
4               76     Inactivo           Venta no efectiva
...            ...           ...                        ...
85448       146210       Activo                      Activo
85449       146379       Activo                      Activo
85450       146697       Activo                      Activo
85451       147004       Activo                      Activo
85452       162621       Activo    Activo para verificación

[85453 rows x 3 columns]

In [476]:
new_historico = new_historico.drop("nombre_estado", axis=1).merge(temp, on="id_programa", how="left").sort_values(
    "fecha_estado").drop_duplicates(subset=["id_programa", "nombre_estado", "nombre_motivo"], keep="first")
new_historico

,id_programa,direccion_cliente,localidad_programa,fecha_estado,nombre_estado,nombre_motivo
0,53,Calle 9 - Carrera 10 # 153,Manizales,2018-10-06 02:00:03.073,Inactivo,Venta no efectiva
1,67,Calle 5A Casa 322,La Dorada,2018-10-29 02:00:05.520,Inactivo,Venta no efectiva
2,72,Carrera 5 - Calle 48 A # 11,La Dorada,2018-11-02 02:00:01.580,Inactivo,Venta no efectiva
3,74,Carrera 5 B - Calle 46 # 41,Manizales,2018-11-03 02:00:01.447,Inactivo,Venta no efectiva
4,76,Carrera 11 B - Calle 22 # 43,La Dorada,2018-11-11 02:00:02.757,Inactivo,Venta no efectiva
...,...,...,...,...,...,...
130372,146113,Carrera 16 - Calle 13 # 29,Manizales,NaT,Activo,Activo
130373,146210,Carrera 5 A - Calle 17 # 08,Manizales,NaT,Activo,Activo
130374,146379,Calle 15 - Carrera 16 # 29,Manizales,NaT,Activo,Activo
130375,146697,Carrera 9 - Calle 5 # 76,La Dorada,NaT,Activo,Activo
130376,147004,Vereda Aguazul finca Aguazul,Dosquebradas,NaT,Activo,Activo

Nuestra base aumenta más de 20 mil registros, sin embargo, evidenciamos algunos valores vacios para la fecha_estado, muchos de ellos porque estan en activo activo, en cuyo caso sería la fecha de la factura, la cual no tenemos pero podríamos obtener de la base de datos de activos. Por otro lado, mantenemos el primer dato que no este duplicado asumiendo que fue la primera vez que solicito un retiro el usuario

In [478]:
new_historico.describe(include="all")

/tmp/ipykernel_1664/1560039890.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  new_historico.describe(include="all")

,id_programa,direccion_cliente,localidad_programa,fecha_estado,nombre_estado,nombre_motivo
count,85453.000000,85439,85453,44618,85453,85453
unique,NaN,53978,20,13290,2,57
top,NaN,Calle 50 # 24-34,Manizales,2021-05-31 05:00:00,Activo,Activo
freq,NaN,1348,50854,2368,61166,52281
first,NaN,NaN,NaN,2018-10-06 02:00:03.073000,NaN,NaN
last,NaN,NaN,NaN,2022-11-18 06:00:01.867000,NaN,NaN
mean,98179.348730,NaN,NaN,NaN,NaN,NaN
std,46450.171135,NaN,NaN,NaN,NaN,NaN
min,52.000000,NaN,NaN,NaN,NaN,NaN
25%,64745.000000,NaN,NaN,NaN,NaN,NaN
50%,108179.000000,NaN,NaN,NaN,NaN,NaN
75%,133787.000000,NaN,NaN,NaN,NaN,NaN
max,171741.000000,NaN,NaN,NaN,NaN,NaN

Mas del 50% de esta base tiene nulos en la fecha_estado dado a que la moda es Activo. Se observa que la dirección de varios usuarios es Calle 50 # 24-34 que es la dirección de la empresa.

In [479]:
new_historico.to_csv("../data/historico.csv", index=False)

### 3) Union de las 2 bases de datos

###